body {
  background: #f28ab2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.card {
  width: 500px;
  margin: 0 auto;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.birthday-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wish {
  color: rgb(241, 235, 235);
}
.birthday-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid white;
}
.msg {
  bottom: 0px;
  width: 100%;
  background: rgb(108, 22, 189);
  text-align: center;
  padding: 15px 0;
}
.btn-msg {
  background-color: white;
  width: 200px;
  margin: 0 auto;
  padding: 7px 20px;
  border-radius: 1.4rem;
  cursor: pointer;
  color: rgb(116, 112, 112);
  letter-spacing: 0.1rem;
}
.btn-msg:hover {
  background-color: rgb(90, 87, 87);
  color: white;
}
h1 {
  margin-left: 10px;
}
.list-wrapper {
  padding-bottom: 20px;
}
.list {
  display: flex;
  border-radius: 0.3rem;
  margin: 10px;
  padding: 5px 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}
.list:hover {
  cursor: pointer;
  background: rgb(231, 228, 228);
}
.list img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.info {
  margin-top: -12px;
  margin-left: 15px;
}
.birthdate {
  margin-top: -10px;
}

.swiper-container {
  background-image: url("./images/birthday.jpg");
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.details-img-wrap {
  text-align: center;
  padding: 20px;
  background-color: #4e9bee;
}
.details-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.greating-list {
  display: flex;
  border-bottom: 1px solid rgb(221, 219, 219);
  padding: 15px 0px;
  cursor: pointer;
  margin: 0;
}
.greating-list:hover {
  background-color: rgb(221, 219, 219);
}
.icon-left {
  color: #007aff;
  margin: 0 20px;
}
.icon-right {
  margin-left: auto;
  margin-right: 20px;
}
