body {
  background: #f28ab2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.card img {
  width: 100%;
}
.celebration-card {
  position: relative;
}
.birthday-info {
  position: absolute;
  top: 20%;
  left: 30%;
  /* transform: translate(-50%, -50%);  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wish {
  color: white;
}
.birthday-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid white;
}
.msg {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgb(108, 22, 189);
  text-align: center;
  padding: 15px 0;
}
.btn-msg {
  background-color: white;
  width: 200px;
  margin: 0 auto;
  padding: 7px 20px;
  border-radius: 1.4rem;
  cursor: pointer;
  color: rgb(116, 112, 112);
  letter-spacing: 0.1rem;
}
.btn-msg:hover {
  background-color: rgb(90, 87, 87);
  color: white;
}
h1 {
  margin-left: 10px;
}
.list {
  display: flex;
  border-radius: 0.3rem;
  margin: 10px;
  padding: 5px 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}
.list:hover {
  cursor: pointer;
  background: rgb(231, 228, 228);
}
.list img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.info {
  margin-top: -12px;
  margin-left: 15px;
}
.birthdate {
  margin-top: -10px;
}
